body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: bisque;
  }
  h1 {
    color: black
  }
  select {
    padding: 8px;
    margin: 10px 0;
    width: 200px;
  }
  label{
    color: black;
    font-weight: bolder;
    
  }